[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
beautifulsoup4 = "*"
tdqm = "*"
tqdm = "*"
futurepy = "*"

[dev-packages]

[requires]
python_version = "3.9"
